*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'varta', sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 0, 37);
    display: grid;
    place-items: center;

}

.center{
    position: relative;
    width: 400px;
    height: 250px;
    background-color: rgb(56, 0, 78);
    border-top: 5px solid rgb(255, 75, 246);
}

.logine{
    margin-top: 20px;
    display: grid;
    justify-items: center;
    font-size: 27px;
    color: rgb(197, 160, 202);
    font-weight: 1000;
    text-transform: capitalize;
    transition: all .10s;
}

.logine:hover{
    transform: scale(1.1);
}

.email{
    display: grid;
    justify-content:center;
    margin: 20px;
    margin-bottom: 12px;
}

.password{
    display: grid;
    justify-content:center;
}

.form-control{
    border:2px solid rgb(185, 5, 161);
    width: 300px;
    height: 31px;
    background-color:rgb(82, 0, 114) ;
    padding: 6px;
    border-radius: 5px;
    letter-spacing: 1px;
    color: rgb(211, 194, 211);
}

.form-control:focus{
    border:2px solid rgb(185, 5, 161);
    width: 300px;
    height: 28px;
    background-color:rgb(82, 0, 114) ;
    padding: 6px;
    box-shadow: none;
    border-radius: 5px;
    letter-spacing: 1px;
    color: rgb(211, 194, 211);
}

.button{
   display: grid;
   justify-content: center;
   margin-top: 20px;
}

.butt{
    cursor: pointer;
    border-radius: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 35px;
    text-decoration:none ;
    font-size: 25px;
    color: rgb(160, 160, 160);
    background: rgb(190,92,255);
background: linear-gradient(90deg, rgba(190,92,255,1) 15%, rgba(118,0,172,1) 77%);
}
